* {
  box-sizing: border-box;
}
:root {
  --cta-color: #0d3a1f;
  --cta-color-hover: #083018 ;
  --secondary-color: #272620;
  --primary-color: #f3f2ec;
  --primary-color2: #f8f8f2;
  --footer-height: 12rem;
  --header-height: 4rem;
  --standard-margin: 1rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body {
  font-family:'Helvetica';
  color: var(--secondary-color);
  background-color: var(--primary-color);
  /* position: relative; */
  font-size: 18px;
  margin: 0;
  padding: 0;
  /* height: 100vh;
  height: 100svh; */
}
header.main-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
header h3 {
  margin: 0 .5rem;
}

h3,h4 {
  font-family: 'Helvetica';
}
article {
  background-color: var(--primary-color2);
  border-radius: 5px;
  padding: calc(var(--standard-margin) * 1.5);
  margin: calc(var(--standard-margin) * 1.5) auto;
}

.button-wrapper {
  padding: calc(var(--standard-margin) * 0.5) 0;
}
a.cta-btn span, a.cta-btn i {
  padding: .25rem;
  vertical-align: middle;
}
.btn-arrow {
  font-size: 22px;
  vertical-align: baseline;
}

.btn {
  outline: none;
  text-decoration: none;
  color: var(--primary-color);
  background-color: var(--cta-color);
  border-radius: 5px;
  transition: all .1s ease-in-out;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  height: 4rem;
}
.btn:hover {
  background-color: var(--cta-color-hover);
}
.btn:active {
  transform: scale(.98);
}

.container {
  max-width: clamp(96vw, 90vw, 800px);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--standard-margin);
  padding-right: var(--standard-margin);
}
.bi-facebook {
  font-size: 30px;
  margin: .5rem;
  width: fit-content;
}
.face-btn, .face-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .25rem;
}

footer {
  /* position: absolute;
  bottom: 0; */
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 16px;
}

footer p {
  margin: .5rem;
}
footer p i.bi {
  margin-right: .35rem;
}

footer a {
  /* text-decoration: none; */
  cursor: pointer;
  color: var(--primary-color);
}

